main {
  justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}
main.interno{
  margin-left: 0px;
  flex-grow:1;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Regular{
  width: 300px;
  height: 300px;
}
.Json,.Regular{
  object-fit: cover;
  border-radius: 70%;
  box-shadow: 4px 8px 25px 0px rgba(255, 185, 65, 0.875);
}
.mostra_preferiti,.mostra_creati{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  margin:5px 5px;
  border-radius: 100px;
  background-color: white;
  width:50px
}
.left{
  display:flex;
  flex-direction: row;
  margin-left: 0px;
  justify-content: flex-start;
}
.prova{
  border: 2px solid black;
}
.mostra_preferiti:hover,.mostra_creati:hover{
  background-color: rgba(114, 127, 149, 0.693);
  color:black;
  }
input {
  margin-left: 0.5em;
}
button,a.button {
  padding: 8px 13px;
  border: 2px solid white;
  border-radius: 100px;
  }
button:hover,a.button:hover{
  background-color: white;
  color:black;
  }
button {
  font-size: 14px;
  color: white;
  background-color: transparent;
    }
body {
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 0;
  text-align: center;
  background-color: rgba(255, 238, 0, 0.3);
  }
.Hidden{
  display: none;
}
@media (max-width: 700px) {
    body {
    font-size: 14px;
    } 
  }
@media (max-width: 700px){
  body header nav {
      justify-content: end;
      width: 50%;
  }
}
div#intestazione{
  font-size: 2em;
  color: rgb(7, 170, 129);
  margin-bottom: 50px;
  margin-top: 50px;
  width: 80%;
  padding-left: 90px;
  }
@media(max-width:700px){
    div#intestazione{
    padding-left: 30px;
    }
  }
 
footer,header h1 ,#links {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  letter-spacing: 1px;
  }
footer {
  
    width:100%;
    flex-direction: column;
    /* position: fixed; */
    bottom: 0px;
}
.footer {
  background-color: rgba(90, 44, 26, 0.842);
  color: rgba(255, 255, 255, 0.8);
  justify-content: space-between;
  font-size: 0.7em;
}
.links{
  line-height: 60px;
}
.links-mobile{
  font-size:0.9em;
  line-height: 60px;
  letter-spacing: 1px;
  margin:1.5em;
}
.contenuto,footer,header,nav,.Box2 {
  display: flex;
  }
  nav{
    flex-direction: column;
    line-height: 60px;
  }

.Box2{
  font-family: 'Oswald', sans-serif;
  flex-direction: column;
  margin-left: 10px;
  justify-content: center;
  align-items: center;  
  }
.Box2 h1{
  margin-bottom: 0;
  flex-grow: 1;
 }

.Box2 p{
  margin-top: 0;
  text-decoration: underline;
  }
  @media (max-width: 700px) {
    .Box2 {
      font-size: 1.3em;
      }
    }
.contenuto {  
  justify-content: space-between;
  align-items: center;
  }
  
@media (max-width: 900px) {
  .contenuto {
    flex-direction: column;
    }
  }
.contenuto_creato{
  flex-direction: column;
}  
.contenuto div.Box1 {
  font-family: 'Inter', sans-serif;
  padding: 20px;
  width: 500px;
  border: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 30px;
  margin-right: 10px;
  margin-left: 10px;
  }

@media (max-width: 750px) {
    .contenuto div.Box1{
    width: 100%;
    padding: 5px;
    margin-right: 0;
    margin-left: 0;
    font-size: 1.2em;
    }
  }
  @media (max-width: 900px){
    main.interno{
      width: 100%;
      padding:5px;
    }
    .Regular,.Json{
      width:100%;
    }
  }
.contenuto h1 {
  font-weight:bold;
  letter-spacing: 2px;
  }
header {
  color: white;
  background-image: url("download.jfif");
  background-position: center;
  background-size: cover;
  height: 400px;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  }
  
@media (max-width: 700px) {
  header {
    height: 300px;
    line-height: 1.2;
    }
  }
header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  }
.Logout a {
    text-decoration: none;
    color: #ffa7a7; 
} 
header h1 {
  font-weight: normal;
  z-index: 1;
  font-size: 1.9em;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 90px;
  }
    
header h1 a {
  font-size: 0.8em;
  }
  
    
@media (max-width: 700px) {
  header h1 {
    font-size: 2em;
    letter-spacing: 4px;
    margin-bottom: 20px;
    }
  }
  
header nav {
  position: absolute;
  top: 0;
  right: 0;
  font-size: .7em;
  padding: 20px;
  justify-content: space-between;
  }

  
#menu {
  display: none;
  position:absolute;
  top:1em;
  right:3.5em;

  }
  
#menu div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  }
  
@media (max-width: 700px) {
  .links {
    display: none;
    }
  #menu {
    display: block;
    width: 40%;
    }
  }
  
  
.links a {
  margin: 15px;
  }  

p {
  line-height: 1.8em;
  text-align: left;
  }
  
section {
  margin: 40px 40px;
  padding: 10px 10px;
  }
section.Item{
    background-color: rgba(255, 200, 0, 0.3);
    border: 2px solid brown;
    border-radius: 10px;
    box-shadow: 4px 7px 25px 0px rgba(255, 160, 0, 0.3);
  }
section.Descrizione{
  margin: 10px 10px;
}
  .Spotify{
    background-color: rgba(255, 174, 0, 0.133);
    border: 2px solid brown;
    border-radius: 10px;
    box-shadow: 4px 7px 25px 0px rgba(255, 160, 0, 0.3);
  }  
  section.nuova_vista{
    background-color: rgba(255, 255, 255, 0.445);
    box-shadow: 5px 5px 5px 10px rgba(255, 255, 255, 0.445);
}  
  
@media (max-width: 700px) {
  section {
    margin: 40px 10px;
    }
  }
.Spotify .Box1{
     font-family: sans-serif;
}